body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #420d4b;
}
h1 {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #6cc417;
  padding: 10px;
}
.container {
  width: 850px;
  background: white;
  display: flex;
  gap: 70px;
  align-items: flex-end;
  padding: 60px 40px;
  border-radius: 10px;
}
img {
  width: 300px;
}
.spaceship{
    max-width: 270px;
}
.worddisplay{
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.worddisplay .letter{
    width: 28px;
    border-bottom: 3px solid #000;
    margin-bottom: 40px;
}